# Dependencies
node_modules/
bower_components/

# Environment & Secrets (Sabse Zaruri)
.env
.env.local
.env.production
*.secret
secrets.json

# Build/Output (Website ki distribution files)
dist/
build/
.next/
out/
.firebase/

# Logs
*.log
npm-debug.log*

# OS & Editor Files
.DS_Store
.vscode/
.idea/
Thumbs.db

# Project Specific
hero_logo.png.bak  # Agar backup files banti hon
